<!DOCTYPE html>
<html>
    <head>
        {% block googleAnalytics %}
        {% endblock %}
        {% block meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta name="description" content="{{ meta.description }}">
            <meta property="og:image" content="{{ meta.socialImage }}">
            <meta property="og:locale" content="it_IT">
            <meta property="og:type" content="website">
            <meta property="og:title" content="{{ meta.title }}">
            <meta property="og:description" content="{{ meta.description }}">
            <meta property="og:url" content=" {{ meta.url }}">
            <meta property="og:site_name" content="{{ meta.title }}">
            <meta property="twitter:title" content="{{meta.title}}">
            <meta property="twitter:description" content="{{ meta.description }}">
            <meta property="twitter:image" content="{{ meta.socialImage }}">
            <meta property="twitter:card" content="summary">
            <meta name="twitter:site" content="{{ meta.title }}">
            <meta name="twitter:description" content="{{ meta.description }}">
            <meta name="twitter:title" content="{{ meta.title }}">
            <meta name="twitter:image" content="{{ meta.socialImage }}">
            <meta name="twitter:card" content="summary">
            <meta name="keywords" content="{{ meta.keywords }}">
            <meta name="robots" content="index,follow">
        {% endblock %}
        <title>{% block title %} {{ meta.title }} {% endblock %}</title>
        {% block stylesheets %}
            <link rel="shortcut icon" href="{{  asset('images/slise.ico') }}">
            <link rel="stylesheet" href="{{  asset('css/styles.css') }}">
            <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}
            {% block header %}
            <header class="header" style="background-image: 
            linear-gradient(170deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 40%), 
            url('{{ menu.backgroundImage }}');">
                <nav class="mob-menu">
                    <div>
                        <a href="/">
                            <img src="{{ menu.logo.image }}" alt="{{ menu.logo.alt }}">
                        </a>
                    </div>
                    <div>
                        <button class="menu">
                            <span></span>
                        </button>
                    </div>
                </nav>
                <div class="hide menu-mob-list">
                    <ul>
                        {% for item in menu.items %}
                            <li>
                                    <a href={{ item.link }}>{{ item.name }}</a>
                            </li>
                        {% endfor %}
                        <li>
                            <a href={{ menu.callToAction.link }}>{{ menu.callToAction.name }}</a>
                        </li>
                    </ul>
                </div>
                <nav class="components-menu">
                        <ul>
                                <li class="logo">
                                    <a href="/">
                                        <img src="{{ menu.logo.image }}" alt="{{ menu.logo.alt }}">
                                    </a>
                                </li>
                                {% for item in menu.items %}
                                <li>
                                        <a href={{ item.link }}>{{ item.name }}</a>
                                </li>
                                {% endfor %}
                        </ul>
                        {% if menu.callToAction is defined and menu.callToAction is not empty %}
                        <div>
                                <a href="{{ menu.callToAction.link }}">
                                        <button class="btn-cta">{{ menu.callToAction.name }}</button>
                                </a>
                        </div>
                        {% endif %}
                </nav>
                {% if (menu.content is not empty ) %}
                <div class="components-menu-content">
                    <div>
                        {% if menu.content.title is defined and menu.content.title is not empty %}
                        <h1 class="title" data-aos="fade-up" data-aos-duration="3000">{{ menu.content.title }}</h1>
                        {% endif %}
                        {% if menu.content.description is defined and menu.content.description is not empty %}
                        <p class="description" data-aos="fade-up" data-aos-duration="3000">
                            {{ menu.content.description }}
                        </p>
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <div class="components-menu-scroll">
                    <span class="scroll-title">Scrolla giù</span>
                    <img src="{{ asset('images/Scroll-Down-icon-Home.gif') }}" alt="Scroll down" class="scroll-image">
                </div>
                <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="waves-header"><defs></defs><path id="feel-the-wave2" d=""/></svg>
            </header>
            <div class="call-slise">
                <div class="call-text">
                    <p>Ciao, vuoi essere richiamato <strong>gratuitamente?</strong></p>
                    <a href="tel:3299413596"><button class="btn-cta">Si</button></a>
                </div>
                <div class="call-icon">
                    <img src="{{ asset('images/Icona Telefono slise.svg') }}" alt="">
                </div>
            </div>
            {% endblock %}
            {% block footer %}
            <footer>
                <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="waves-footer"><defs></defs><path id="feel-the-wave" d=""/></svg>
                <div>
                    <div>
                        <img src="{{ asset('/images/slise_logo.png') }}" alt="{{ menu.logo.alt }}">
                    </div>
                    <ul>
                        <li>
                            <div>
                                <span>Servizi</span>
                            </div>
                            <div>
                                <ul>
                                    <a href="{{ path('services') }}"><li>Programmazione e Web Design</li></a>
                                    <a href="{{ path('services') }}"><li>Social media marketing</li></a>
                                    <a href="{{ path('services') }}"><li>Lead Generation</li></a>
                                </ul>
                            </div>
                        </li>
        
                        <li>
                            <div>
                                <span>Contatti</span>
                            </div>
                            <div>
                                <ul>
                                    <a href="tel:3299413596"><li>+39 329 941 35 96</li></a>
                                    <a href="mailto:info@slise.studio"><li>info@slise.studio</li></a>
                                </ul>
                                <div class="social-box">
                                    <div>
                                        <i class="fab fa-facebook-f"></i>
                                    </div>
                                    <div>
                                        <i class="fab fa-instagram"></i>
                                    </div>
                                    <div>
                                        <i class="fab fa-linkedin-in"></i>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div>
                    <ul>
                        <li>Slise Studio</li>
                        <li>PIVA: IT11271280965</li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </footer>
            <div class="overlay hide">
                <div>
                    <img src="{{ asset('images/load.gif') }}" alt="">
                </div>
            </div>
            {% endblock %}
        {% endblock %}
        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script src="https://kit.fontawesome.com/bee94aa91a.js"></script>
            <script src="{{ asset("js/slise.js") }}"></script>
            <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
            <script>
                AOS.init();
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="https://rawgit.com/peacepostman/wavify/master/wavify.js"></script>
            <script src="https://rawgit.com/peacepostman/wavify/master/jquery.wavify.js"></script>
            <script>
                if($('.waves-header').css('display') != 'none'){
                    var wave1 = $('#feel-the-wave2').wavify({
                    height: 600,
                    bones: 2,
                    amplitude: 100,
                    color: '#fff',
                    speed: .19 });
                }

                if($('.waves-footer').css('display') != 'none'){
                    var wave1 = $('#feel-the-wave').wavify({
                    height: 10,
                    bones: 4,
                    amplitude: 50,
                    color: '#1D4C9A',
                    //color: '#8DBBE5',
                    speed: .1 });
                }
            </script>
        {% endblock %}
    </body>
</html>
