<nav class="components-menu">
    <ul>
        <li>
            <img src="{{ menu.logo.image }}" alt="{{ menu.logo.alt }}">
        </li>
        {% for item in menu.items %}
        <li>
            <a href={{ item.link }}>{{ item.name }}</a>
        </li>
        {% endfor %}
    </ul>
    {% if (menu.callToAction is not empty ) %}
    <div>
        <a href="{{ menu.callToAction.link }}">
            <button>{{ menu.callToAction.name }}</button>
        </a>
    </div>
    {% endif %}
</nav>