{% extends 'base.html.twig' %}
{% block body %}

{% block header %} {{ parent() }}{% endblock %}

<section class="components-box7">
   <div class="components-box7-data">
        <h2 class="components-box7-pretitle" data-aos="fade-up" data-aos-duration="3000">Manifesto</h2>
        <h2 class="components-box7-title c-lightBlue" data-aos="fade-up" data-aos-duration="3000">C'era una volta...</h2>
        <p class="components-box7-text" data-aos="fade-up" data-aos-duration="3000">
            C’era una volta, in un paese lontano lontano, uno studio di comunicazione.<br/>
Visto che tutte le migliori storie iniziano così, abbiamo pensato di prendere spunto dalla tradizione, la stessa che però abbiamo deciso di innovare e rivoluzionare.<br/><br/>

Ora che abbiamo la vostra attenzione e che siete <span class="c-blue">calamitati</span> allo schermo possiamo proseguire.<br/><br/>

Quando eravamo barricati in casa, come quasi tutti del resto durante il primo lockdown, più volte ci sono balenate in testa idee da sviluppare che avrebbero portato valore e beneficio per tutte quelle attività che sono state duramente colpite dal lockdown e dalla crisi che da lì a poco le avrebbe travolte.<br/><br/>

Allora abbiamo ben pensato di riunire tutte le nostre abilità digitali traguardate durante questi anni per creare uno Studio di Comunicazione giovane e innovativo, sempre pronto a mettersi in gioco e che riesca ad <span class="c-blue">attrarre</span> le vostre storie per raccontarle da un’altra prospettiva. <br/><br/>
<span class="c-blue"> Spesso è il modo in cui si raccontano le storie a fare la differenza.</span>
        </p>
   </div>
   <div class="components-box7-image" data-aos="fade-up" data-aos-duration="3000">
    <div>
     <img src="{{ asset('images/pexels-fauxels-3184325.jpg') }}" alt="">
    </div>
</div>
</section>

<section class="components-box1 txt-center mb-0">
    <h2 class="components-box1-pretitle" data-aos="fade-up" data-aos-duration="3000">Fondatori</h2>
    <h1 class="components-box1-title box-center" data-aos="fade-up" data-aos-duration="3000">Dream Team</h1>
</section>

<section class="components-box3 pt-0">
    <div class="components-cards2">

        <div class="components-card2">
            <div class="components-card2-image" data-aos="zoom-out-left" data-aos-duration="3000">
                <img src="{{ asset('images/pexels-collis-3170635.jpg') }}" alt="">
            </div>
            <div class="components-card2-data">
                <div>
                    <h1 class="components-card2-title" data-aos="fade-left" data-aos-duration="3000">Matteo Rachiele <span>Chief Executive Officer</span></h1>
                    <p class="components-card2-text" data-aos="fade-left" data-aos-duration="3000">
                        Eccomi, finalmente vedi chi è al timone di questa web agency che coniuga creatività 
                        e concretezza proprio come me . Dopo anni di amministrazione di aziende facenti 
                        parte del gruppo AMR MANAGEMENT  mi sono chiesto, quale era il modo più efficace 
                        per aumentare la presenza online delle mie aziende . Dopo varie avventure con 
                        diverse agenzie di comunicazione ho capito che sarebbe stato geniale crearne una, 
                        ed eccoci qua Slise ha una struttura solida montata pezzo dopo pezzo con l'attenzione ai 
                        dettagli azzerando le problematiche che ho riscontrato da cliente in tutte le aziende a cui 
                        mi sono rivolto per chiedere forniture digital .
                    </p>
                    <div>
                        <a href="mailto:marco@slise.studio">
                            <button class="btn-cta" data-aos="fade-left" data-aos-duration="3000">Conosciamoci</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="components-card2">
            <div class="components-card2-image" data-aos="zoom-out-left" data-aos-duration="3000">
                <img src="{{ asset('images/pexels-collis-3170635.jpg') }}" alt="">
            </div>
            <div class="components-card2-data">
                <div>
                    <h1 class="components-card2-title" data-aos="fade-left" data-aos-duration="3000">Domenico <span>Creative Account & Project Manager (parla con le persone, a volte anche da solo)</span></h1>
                    <p class="components-card2-text" data-aos="fade-left" data-aos-duration="3000">
                        Nel suo sangue scorrono creatività e passione per poesia, arte e letteratura. 
                        Dotato di fervida immaginazione, ha tutte le caratteristiche per essere considerato 
                        fuori dalle righe, ma anche fuori, senza aggiungere altro, può comunque bastare. 
                        La sua loquacità lo accompagna ovunque vada, risultando di compagnia e a proprio agio con le persone. 
                        Sì, parla anche con i muri. Ancora ci chiediamo cosa l’abbia spinto a studiare Informatica, anzi, 
                        provatelo a chiederglielo voi…. è tutto vostro.
                    </p>
                    <div>
                        <a href="mailto:marco@slise.studio">
                            <button class="btn-cta" data-aos="fade-left" data-aos-duration="3000">Conosciamoci</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="components-card2">
            <div class="components-card2-image" data-aos="zoom-out-right" data-aos-duration="3000">
                <img src="{{ asset('images/pexels-jackson-david-3147528.jpg') }}" alt="">
            </div>
            <div class="components-card2-data">
                <div>
                    <h1 class="components-card2-title" data-aos="fade-right" data-aos-duration="3000">Faiçal<span>Fotografo e Videomaker </span></h1>
                    <p class="components-card2-text" data-aos="fade-right" data-aos-duration="3000">
                        Le foto devono attrarre, per farlo devono raccontare storie senza usare le parole: 
                        lui troverà il modo di farlo.                                                      
                        I video sono la sua passione. Creatività e montaggio il suo pane quotidiano (purché veggy). 
                        Le skills del suo editing vi lasceranno esterrefatti. Immergetevi e timonate la vostra videostoria.
                    </p>
                    <div>
                        <a href="mailto:marco@slise.studio">
                            <button class="btn-cta" data-aos="fade-right" data-aos-duration="3000">Conosciamoci</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="components-card2">
            <div class="components-card2-image" data-aos="zoom-out-right" data-aos-duration="3000">
                <img src="{{ asset('images/pexels-jackson-david-3147528.jpg') }}" alt="">
            </div>
            <div class="components-card2-data">
                <div>
                    <h1 class="components-card2-title" data-aos="fade-right" data-aos-duration="3000">Marco<span>Creative director (il grafico)  </span></h1>
                    <p class="components-card2-text" data-aos="fade-right" data-aos-duration="3000">
                        A metà degli anni ’90, in una cittadina del Lago di Garda, nasceva Marco, disegnatore di cose, idee, sogni… La matita e i fogli da disegno sono sempre stati il suo passatempo preferito. Anni dopo diventerà anche il suo lavoro, trasformando la passione in mestiere. L’ambizione l’ha guidato verso collaborazioni di più anni con brand importanti. Sì! Ha lavorato in uno studio di comunicazione per più anni, continuando poi come freelancer.

                        “In un mondo sempre più frenetico i dettagli di immagine rischiano sempre di essere trascurati; il mio scopo? Catturarli, valorizzarli e trasmetterli.“

                        ‘Cresciuto a pane e creatività, penso che il mondo non sia solo fogli A4, ma credo che possa essere rappresentato in mille dimensioni e con mille sfumature. In un mondo sempre più frenetico i dettagli di immagine rischiano sempre di essere trascurati; il mio scopo? Catturarli, valorizzarli e trasmetterli ’
                    </p>
                    <div>
                        <a href="mailto:marco@slise.studio">
                            <button class="btn-cta" data-aos="fade-right" data-aos-duration="3000">Conosciamoci</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="components-card2">
            <div class="components-card2-image" data-aos="zoom-out-right" data-aos-duration="3000">
                <img src="{{ asset('images/pexels-jackson-david-3147528.jpg') }}" alt="">
            </div>
            <div class="components-card2-data">
                <div>
                    <h1 class="components-card2-title" data-aos="fade-right" data-aos-duration="3000">Massimiliano<span>(Web Developer)</span></h1>
                    <p class="components-card2-text" data-aos="fade-right" data-aos-duration="3000">
                        Mi chiamo Massimiliano sono un Webmaster con oltre 15 anni di 
                        esperienza e laurea conseguita a Monaco di Baviera in Germania.
                        Ho sviluppato fino ad ora centinaia di progetti dal semplice sito vetrina a 
                        portali, e-commerce e Gateway di pagamento (Payment Integration Tools) basati sui piu' 
                        famosi CMS sia con software Self Made sia con software di terze parti.
                    </p>
                    <div>
                        <a href="mailto:marco@slise.studio">
                            <button class="btn-cta" data-aos="fade-right" data-aos-duration="3000">Conosciamoci</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="components-card2">
            <div class="components-card2-image" data-aos="zoom-out-right" data-aos-duration="3000">
                <img src="{{ asset('images/pexels-jackson-david-3147528.jpg') }}" alt="">
            </div>
            <div class="components-card2-data">
                <div>
                    <h1 class="components-card2-title" data-aos="fade-right" data-aos-duration="3000">Juan<span>Talent manager</span></h1>
                    <p class="components-card2-text" data-aos="fade-right" data-aos-duration="3000">
                        Nostro partner per la gestione di artisti, 
                        influenze e chiunque voglia essere attratto dal mondo televisivo. Juan riesce come pochi 
                        altri nel suo settore, ad intercettare se non addirittura a fiutare il successo del personaggio 
                        che ha davanti, esaltandone doti e qualità raggiungendo così obiettivi altissimi sia in campo 
                        professionale, che personale.
                    </p>
                    <div>
                        <a href="mailto:marco@slise.studio">
                            <button class="btn-cta" data-aos="fade-right" data-aos-duration="3000">Conosciamoci</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
    
</section>

<!--
<section class="components-box8 bc-sliseLightBlue">
    <div>
        <h1 class="components-box8-title" data-aos="fade-up" data-aos-duration="3000">Slise ama i talenti, mostraci il tuo</h1>
    </div>
    <section class="components-box10">
        <div class="components-box10-services">
                <div class="components-box10-service">
                    <div class="components-box10-data" data-aos="fade-up" data-aos-duration="3000">
                        <h1 class="components-box10-data-title">Sales account</h1>
                        <h3 class="components-box10-data-subtitle">Sei una persona ambiziosa e intraprendente?</h3>
                        <p class="components-box10-data-description">
                            Potremmo fare al caso tuo e tu al nostro. 
                        </p>
                        <a href=""><button class="btn-cta">Candidati <i class="fas fa-long-arrow-alt-right"></i></button></a>
                    </div>
                </div>
        </div>
    </section>

</section>
-->

{% block footer %} {{ parent() }} {% endblock %}

{% endblock %}