{% extends 'base.html.twig' %}
{% block body %}

{% block header %} {{ parent() }}{% endblock %}

<section class="components-box7">
   <div class="components-box7-data">
        <h2 class="components-box7-pretitle">Mission</h2>
        <h2 class="components-box7-title">Lorem ipsum dolor sit amet</h2>
        <p class="components-box7-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam risus mauris, 
            sagittis ut efficitur id, suscipit in ipsum. Vivamus ornare convallis lorem. 
            Donec ut justo ac turpis malesuada viverra non ac eros.
        </p>
   </div>
   <div class="components-box7-image">
    <div>
     <img src="{{ asset('images/pexels-fauxels-3184325.jpg') }}" alt="">
    </div>
</div>
</section>

<section class="components-box1 txt-center mb-0">
    <h2 class="components-box1-pretitle">Fondatori</h2>
    <h1 class="components-box1-title box-center">Lorem ipsum dolor sit amet.</h1>
</section>

<section class="components-box3 pt-0">
    <div class="components-cards2">

        <div class="components-card2">
            <div class="components-card2-image">
                <img src="{{ asset('images/pexels-collis-3170635.jpg') }}" alt="">
            </div>
            <div class="components-card2-data">
                <div>
                    <h1 class="components-card2-title">Marco Rossi <span>CEO & CTO</span></h1>
                    <p class="components-card2-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Etiam risus mauris, sagittis ut efficitur id, suscipit in ipsum. 
                        Vivamus ornare convallis lorem. Donec ut justo ac turpis malesuada viverra non ac eros.
                    </p>
                    <div>
                        <a href="mailto:marco@slise.studio">
                            <button class="btn-cta">Conosciamoci</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="components-card2">
            <div class="components-card2-image">
                <img src="{{ asset('images/pexels-jackson-david-3147528.jpg') }}" alt="">
            </div>
            <div class="components-card2-data">
                <div>
                    <h1 class="components-card2-title">Marco Rossi <span>CEO & CTO</span></h1>
                    <p class="components-card2-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Etiam risus mauris, sagittis ut efficitur id, suscipit in ipsum. 
                        Vivamus ornare convallis lorem. Donec ut justo ac turpis malesuada viverra non ac eros.
                    </p>
                    <div>
                        <a href="mailto:marco@slise.studio">
                            <button class="btn-cta">Conosciamoci</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="components-card2">
            <div class="components-card2-image">
                <img src="{{ asset('images/pexels-collis-3170635.jpg') }}" alt="">
            </div>
            <div class="components-card2-data">
                <div>
                    <h1 class="components-card2-title">Marco Rossi <span>CEO & CTO</span></h1>
                    <p class="components-card2-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Etiam risus mauris, sagittis ut efficitur id, suscipit in ipsum. 
                        Vivamus ornare convallis lorem. Donec ut justo ac turpis malesuada viverra non ac eros.
                    </p>
                    <div>
                        <a href="mailto:marco@slise.studio">
                            <button class="btn-cta">Conosciamoci</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</section>

<section class="components-box8 bc-sliseLightBlue">
    <div>
        <h1 class="components-box8-title">Slise ama i talenti, mostraci i tuoi talenti</h1>
    </div>
    <section class="components-box10">
        <div class="components-box10-services">
            <a href="">
                <div class="components-box10-service">
                    <div class="components-box10-service-image">
                        <img src="" alt="">
                    </div>
                    <div class="components-box10-data">
                        <h1 class="components-box10-data-title">Senior Developer</h1>
                        <h3 class="components-box10-data-subtitle">Lorem ipsum</h3>
                        <p class="components-box10-data-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Etiam risus mauris, sagittis ut efficitur id, suscipit in ipsum. 
                        </p>
                        <button class="btn-cta">Candidati <i class="fas fa-long-arrow-alt-right"></i></button>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="components-box10-service">
                    <div class="components-box10-service-image">
                        <img src="" alt="">
                    </div>
                    <div class="components-box10-data">
                        <h1 class="components-box10-data-title">Senior Developer</h1>
                        <h3 class="components-box10-data-subtitle">Lorem ipsum</h3>
                        <p class="components-box10-data-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Etiam risus mauris, sagittis ut efficitur id, suscipit in ipsum. 
                        </p>
                        <button class="btn-cta">Candidati <i class="fas fa-long-arrow-alt-right"></i></button>
                    </div>
                </div>
            </a>

            <a href="">
                <div class="components-box10-service">
                    <div class="components-box10-service-image">
                        <img src="" alt="">
                    </div>
                    <div class="components-box10-data">
                        <h1 class="components-box10-data-title">Senior Developer</h1>
                        <h3 class="components-box10-data-subtitle">Lorem ipsum</h3>
                        <p class="components-box10-data-description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Etiam risus mauris, sagittis ut efficitur id, suscipit in ipsum. 
                        </p>
                        <button class="btn-cta">Candidati <i class="fas fa-long-arrow-alt-right"></i></button>
                    </div>
                </div>
            </a>
        </div>
    </section>

</section>

{% block footer %} {{ parent() }} {% endblock %}

{% endblock %}