{% extends 'base.html.twig' %}
{% block body %}

{% block header %} {{ parent() }}{% endblock %}

<section class="components-box11">
    <h1 class="components-box11-title">Informazioni utili</h1>
    <div class="components-box11-data-infos">
        <div class="components-box11-data-info">
            <div class="components-box11-data-info-image">
                <img src="{{ asset('icons/Icona email slise.svg') }}" alt="">
            </div>
            <div class="components-box11-data-info-text">
                <a href="mailto:info@slise.studio">info@slise.studio</a>
            </div>
        </div>
        <div class="components-box11-data-info">
            <div class="components-box11-data-info-image">
                <img src="{{ asset('icons/Icona Telefono slise.svg') }}" alt="">
            </div>
            <div class="components-box11-data-info-text">
                <a href="tel:+393299413596">+39 329 941 35 96</a>
            </div>
        </div>
        <div class="components-box11-data-info">
            <div class="components-box11-data-info-image">
                <img src="{{ asset('icons/Icona Luogo slise.svg') }}" alt="">
            </div>
            <div class="components-box11-data-info-text">
                <a href="https://www.google.com/maps/dir/45.6201926,10.5031323/Via+Carlo+Goldoni,+1,+20129+Milano+MI/@45.541697,9.292693,9z/data=!3m1!4b1!4m9!4m8!1m1!4e1!1m5!1m1!1s0x4786c6bd915770e9:0x820941d4f7d39d56!2m2!1d9.2075909!2d45.469342" target="_blank">Via Carlo Goldoni 1 (MI)</a>
            </div>
        </div>
    </div>
</section>

<section class="components-box12">
    <div class="components-box12-data">
        <h1 class="components-box12-data-title">Siamo stati abbastanza <span class="c-blue">attraenti</span>?</h1>
        <p class="components-box12-data-text">
            Vuoi richiedere un preventivo? 
            Hai Bisogno di Informazioni? Contattaci!
        </p>
        <p class="message"></p>
    </div>
    <div class="components-box12-form">
        <form action="" name="sendContact" method="post" onsubmit="return false;">
            <input type="text" name="fullname" placeholder="Nome completo *" required>
            <input type="tel" name="tel" placeholder="Numero di telefono">
            <input type="email" name="email" placeholder="Email *" required>
            <textarea name="comment" id="" cols="30" rows="10" placeholder="Come pensi che potremmo esserti d'aiuto *" required></textarea>
            <small>* Campi obbligatori</small>
            <button id="btn-send-contact">Invia richiesta</button>
        </form>
    </div>
</section>

<!--
<section class="components-box8 bc-sliseLightBlue mb-0">
    <div>
        <h1 class="components-box8-title" data-aos="fade-up" data-aos-duration="3000">Le posizioni aperte</h1>
    </div>
    <section class="components-box10">
        <div class="components-box10-services">
            <div class="components-box10-service">
                <div class="components-box10-data" data-aos="fade-up" data-aos-duration="3000">
                    <h1 class="components-box10-data-title">Sales account</h1>
                    <h3 class="components-box10-data-subtitle">Sei una persona ambiziosa e intraprendente?</h3>
                    <p class="components-box10-data-description">
                        Potremmo fare al caso tuo e tu al nostro. 
                    </p>
                    <button class="btn-cta">Candidati <i class="fas fa-long-arrow-alt-right"></i></button>
                </div>
            </div>
        </div>
    </section>

</section>
-->

<section class="components-box6 txt-center">
    <div class="components-box6-question">
        <h1 class="pretitle" data-aos="fade-up" data-aos-duration="3000">Hai qualche domanda?</h1>
        <h2 class="title" data-aos="fade-up" data-aos-duration="3000">Lasciaci una mail per una consulenza gratuita</h2>
    </div>
    <div class="components-box6-module" data-aos="zoom-out-up" data-aos-duration="3000">
        <p class="message consulenza"></p>
        <form action="" name="consulenza" method="post" onsubmit="return false;">
            <div>
                <input type="email" name="email" placeholder="Inserisci la tua email" required>
                <button class="btn-consulenza">Invia</button>
            </div>
        </form>
    </div>
</section>

{% block footer %} {{ parent() }} {% endblock %}

{% endblock %}